html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background: black;
  color: #eef;
}

a {
  color: #c39;
}

main {
  margin: 2rem 0;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#game {
  width: 1066px;
  height: 600px;
  margin: 0 auto;
  
}
#game canvas {
  cursor: url('images/ui/custom-cursor.png') 16 16, auto !important;
  cursor: -webkit-image-set(
    url('images/ui/custom-cursor.png') 1x,
    url('images/ui/custom-cursor@2x.png') 2x
  ) 16 16, auto !important;
}

footer {
  text-align: center;
}

.mobile-warning {
    display: none;
    padding: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
  .social-links a {
      color: #f5b824;
  }
  .social-links a:hover {
    background: #d19c1f;
    color: white;
  }
  .social-links a:hover:visited {
    background: #d19c1f;
    color: white;
  }
  .social-links a:active {
      color: #bd8d1c;
  }
  .social-links a:visited {
      color: #d19c1f;
  }
  .social-link {
    padding: 0 15px;
    border-right: 1px solid white;
  }
  .social-link:last-child {
    border-right: 0;
  }

@media only screen and (max-width: 400px) {
    .mobile-warning {
        display: block;
    }
    #game {
        display: none;
    }
    .social-links {
      flex-direction: column;
    }
    .social-link {
      margin: 10px 0;
      border-right: 0;
    }
}
@media only screen and (max-height: 400px) {
    .mobile-warning {
        display: block;
    }
    #game {
        display: none;
    }
    .social-links {
      flex-direction: column;
    }
    .social-link {
      margin: 10px 0;
      border-right: 0;
    }
}

