html {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  font-family: Courier, 'Courier New', monospace;
  font-size: 1.6rem;
  background: black;
  color: #eef;
}

a {
  color: #c39;
}

main {
  margin: 2rem 0;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#game {
  width: 99vw;
  height: auto;
  margin: 0 auto;
}

#game canvas {
  box-sizing: border-box;
  min-width: 99vw !important;
  height: auto !important;
  cursor: url('assets/images/ui/custom-cursor.png') 16 16, auto !important;
  cursor: -webkit-image-set( url('assets/images/ui/custom-cursor.png') 1x, url('assets/images/ui/custom-cursor@2x.png') 2x) 16 16, auto !important;
}




